*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
body{
    background-color: white;
    color: #fff;
}
header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(256,256,256,0),rgba(256,256,256,0)),url(bk3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 10px 4%;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.row-col img{
    width: 150px;
    cursor: pointer;
}
.menu{
    list-style: none;
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}
*.fa-bars{
    padding-top: 5px;
}
.menu li a{
    text-decoration: none;
    color: #fff;
}
.menu li a button{
    padding: 3px 10px;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}
.menu li a button:hover{
    background-color: #00022e;
    transition: 1s;
}
.language button{
    padding: 1px 15px;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}
.number button{
    padding: 2px 15px;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}
.language img{
    width: 20px;
    cursor: pointer;
}
.language,
.number{
    padding-bottom: 18px;
}
.language{
    padding-left: 80px;
}
.number{
    padding-right: 60px;
}
h2{
    text-align: left;
    justify-content: top;
    padding-left: 100px;
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
}
.facts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.facts h2{
    padding-left: 6rem;
    padding-bottom: 2rem;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.facts-row{
    padding-top: 7rem;
    padding-right: 8rem;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.discount{
    margin-top: 12rem;
    width: 40%;
    text-align: left;
    justify-content: left;
    align-self: left;
    background-color: #00022e;
    padding: 20px 40px;
}
.discount h4{
    justify-content: left;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.discount h1{
    padding-top: 3rem;
    font-size: 32px;
}
.discount button{
    float: right;
    padding: 4px 15px;
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    align-items: left;
}
.discount button:hover{
    background-color: #fff4;
}
.header2{
    color: black;
    background-color: white;
    margin: 0;
    border: 0;
}
.about{
    display: flex;
}
.about h3{
    font-size: 24px;
    padding-left: 10rem;
    padding-top: 8rem;
}
.about2{
    padding-left: 10rem;
    padding-top: 8rem;
}
.about2 h1{
    font-size: 38px;
}
.about2 h6{
    font-size: 20px;
    padding-top: 12px;
    font-weight: lighter;
}
.about2 button{
    padding: 10px 60px;
    background-color: #00022e;
    color: #fff;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}
.about3 img{
    margin-left: 7rem;
    margin-top: 6rem;
    height: 200px;
    width: 450px;
}
.categories{
    background-color: #fff;
    color: black;
    display: flex;
}
.arrow button{
    margin-top: 27rem;
    margin-left: 12rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: transparent;
}
.categories_left h3{
    margin-top: 26rem;
    margin-left: 10rem;
    position: absolute;
}
.categories h5{
    line-height: 1;
    margin-bottom: 3rem;
}
.categories_right {
    margin-left: 36rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.2rem;
}
.category{
    background: white;
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}
.categories:hover{
    box-shadow: 0 3rem ;
}
.gallery{
    color: black;
}
.gallery01{
    display: flex;
}
